out/
.cproject
.nedexclusions
.nedfolders
.oppbuildspec
.project
Makefile
Makefile.vc

simulations/results/
simulations/.cmdenv-log
simulations/.tkenvlog
simulations/.tkenvrc
simulations/debug
simulations/run

src/grid.exe
src/Makefile